.left-gap{
    margin-left: 30px;
}
body{
    background-color: #fff7f5;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
p{
    margin: 0;
}
.main{
    display: flex;
}
/* left side picture with logo */
#left-side-picture{
    background: url("Pics/5097070.png") no-repeat 30%;
    background-size: cover;
    width: 45vw;
    height: 100vh;
    position: relative;
}
#banner{
    align-items: center;
    background: rgba(0, 0, 0, 0.53);
    display: flex;
    justify-content: center;
    height: 15vh;
    margin-top: 70px;
    position: absolute;
    width: 100%;
    min-width: 80%;

}
#banner img{
    height: 90px;
    width: 90px;
}
#banner h1{
    color: white;
    font-family: 'Oswald';
    font-size: 4em;
    font-weight: 300;
    letter-spacing: .09rem;
    margin-left: 5px;
    z-index: 0;
}
/*right side info*/
#right-side{
    width:100%;
    z-index: 1;
}
#header{
    height: 20vh;
    width: 60vw;
    min-width: 600px;
    min-height: 150px;
    padding-top: 40px;
    margin-bottom: 20px;

}
#header p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 600;
}

.form-background{
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
    flex-flow: row wrap;
    height: calc(50vh - 40px);
    min-height: 250px;
    padding-top: 20px;
    width: 100%;
}
.form-background p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.error{
    position: absolute;
    top:63px;
    color:#ff8383;
    font-weight: 400;
}

.error-border{
    border: 2px solid #ff8383;
}

.forms-div{
    column-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    height: 80%;
    margin-top: 20px;
    width: 65%;
}
.form-div{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 10vh;
    width: 20vw;
}
.input-form{
    border: 2px solid #edeff3; 
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    height: 50%;
    width: 100%;
    transition: border .2s;
    
}
.input-form:focus{
    outline: none;
}
.input-form:valid:focus{
    border: 2px solid #b48578;
}
.input-form:invalid:focus{
    border: 2px solid #d45c64;
}

#confirmation{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 40px;
}
#confirmation p{
    font-size: 1.2rem;
    margin-left: 20px;
}
.create-acc-button{
    background-color: #d45c64;
    border:2px solid #d45c64;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', serif;
    letter-spacing: .01rem;
    padding: 15px 50px;
    cursor: pointer;
    transition: background-color 0.15s,color 0.15s;
}
.create-acc-button:hover{
    background-color: white;
    color: #d45c64;
}
.special-text{
    color: #d45c64;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    body{
        height: 130vh;
        overflow: scroll;
    }
    .main{
        flex-direction: column;
    }
    #left-side-picture{
        height: 18vh;
        width: 100%;
        max-width: 100%;
        background-size: 150%;
        background-position-y:55%;
    }
    .left-gap{
        margin-left: 2vw;
    }
    #banner{
        margin-top: 0;
        height: 100%;
    }
    #banner img{
        height: 80px;
        width: 80px;
        margin-bottom: 15px;
    }
    #banner h1{
        margin-bottom: 60px;
    }
    #header{
        min-width: 250px;
        padding-top: 0;
        margin-bottom: 0;
        width: 90vw;
    }
    #header p{
        font-size: 1.0rem;
    }

    .form-background{
        padding-top: 5px;
        margin-top: -20px;
        width: 100%;
        height: 69vh;
    }
    .form-background p{
        font-size: 1.4rem;
        text-align: center;
        margin-left: -1vh;
    }
    .forms-div{
        width: 98vw;
        justify-content: center;
        margin-right: 20px;
        column-gap: 5vw;
    }
    .form-div{
        text-align: center;
        font-size: 1.2rem;
        margin-left: -3vh;
        width: 90%;

    }
    .create-acc-button{
        width: 90vw;
    }
    .confirmation{
        flex-direction: column;
        margin-top: 2vh;
    }
    .confirmation p{
        margin-left: 0;
        margin-top: 2vh;
    }
}